<!DOCTYPE html>
{% load pages_tags mezzanine_tags i18n %}

<html>
<head>

	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width">
	<meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
	<meta name="description" content="{% block meta_description %}{% endblock %}">
	<title>{% block meta_title %}{% endblock %}{% if settings.SITE_TITLE %} | {{ settings.SITE_TITLE }}{% endif %}</title>
	<link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.ico">

	{% ifinstalled mezzanine.blog %}
	<link rel="alternate" type="application/rss+xml" title="RSS" href="{% url blog_post_feed "rss" %}">
	<link rel="alternate" type="application/atom+xml" title="Atom" href="{% url blog_post_feed "atom" %}">
	{% endifinstalled %}

	{% compress css %}
	<link rel="stylesheet" href="{{ STATIC_URL }}css/general.css">
	<link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.css">
	<link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.responsive.css">
	<link rel="stylesheet" href="{{ STATIC_URL }}css/mezzanine.css">
	{% ifinstalled cartridge.shop %}
	<link rel="stylesheet" href="{{ STATIC_URL }}css/cartridge.css">
	{% endifinstalled %}
	{% block extra_css %}{% endblock %}
	{% endcompress %}

	{% compress js %}
	<script src="{{ STATIC_URL }}mezzanine/js/{{ settings.JQUERY_FILENAME }}"></script>
	<script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
	<script>
	$(function() {
		$('.middleinput:text, textarea').addClass('xlarge');
		$('.control-group label').addClass('control-label');
	});
	</script>
	{% block extra_js %}{% endblock %}
	{% endcompress %}
	<!--[if lt IE 9]>
	<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	{% block extra_head %}{% endblock %}

</head>

<body id="{% block body_id %}body{% endblock %}">

	<div class="navbar">
		<div class="navbar-inner">
			<div class="container">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>

				<div id="shoppingCartWrapper">
					<div id="shoppingCart">
						<a href="#">View Cart</a>
					</div>
					<div id="checkout">
						<a href="#">Checkout</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	{% nevercache %}
		{% for message in messages %}
			<div class="container">
				<div class="alert alert-{{ message.tags }}" data-alert="alert">
					<a class="close" href="#" onclick="$(this).parent().fadeOut('fast'); return false;">×</a>{{ message }}
				</div>
			</div>
		{% endfor %}
	{% endnevercache %}

	<div id="topHeader">
		<div class="container">
			<div class="row" id="top">
				<div id="firstCol">
					<div id="logo"></div>

					<div id="loginLinks">
						<div id="myAccount">
							<a href="#">My account</a>
						</div>

						<div id="signIn">
							<a href="#">Sign in</a>
						</div>
					</div>
				</div>

				<div id="secondCol">
					<div id="socialMedia">
						<a href="#" id="twitter"></a>
						<a href="#" id="facebook"></a>
						<a href="#" id="skype"></a>
						<a href="#" id="google"></a>
						<a href="#" id="vimeo"></a>
						<a href="#" id="rss"></a>
					</div>

					<div id="search">
						<form action="{% url search %}">
						    <input class="search-query" placeholder="{% trans "Find product" %}" type="text" name="q" value="{{ request.REQUEST.q }}">
						</form>
					</div>

				</div>
			</div>
		</div>
	</div>

	<div class="container" id="navigation">
		<ul id="navigation">
			<li id="home" class="nav-current"><a href="/"></a></li>
			<li id="services"><a href="/publishing-services/"></a></li>
			<li id="resources"><a href="resources.html"></a></li>
			<li id="about"><a href="/about/"></a></li>
			<li id="faq"><a href="/frequently-asked-questions/"></a></li>
		</ul>
	</div>

	<div id="contentWrapper">
		<div class="container" id="content">
			{% block top_main %}
			<ul class="breadcrumb">
				{% spaceless %}
				{% block breadcrumb_menu %}{% page_menu "pages/menus/breadcrumb.html" %}{% endblock %}
				{% endspaceless %}
			</ul>
			{% endblock %}

			<div id="contentContainer" class="homepage">
				{% block main %}
				{% endblock %}
			</div>

		</div>

		<div id="content_bottom" class="container"></div>
	</div>

	<footer>
		<div id="footerWrapper" class="container">
			<div id="row1">
				<ul id="col1">
					<li class="header">Customer Care</li>
					<li><a href="#">Shipping returns</a></li>
					<li><a href="#">Your orders</a></li>
					<li><a href="/privacy-policy/">Privacy policy</a></li>
					<li><a href="#">Shipping information</a></li>
					<li><a href="#">Ordering help</a></li>
				</ul>

				<ul id="col2">
					<li class="header">Information</li>
					<li><a href="/copyright-and-disclaimers/">Terms and conditions</a></li>
					<li><a href="#">Payment gateways</a></li>
					<li><a href="/frequently-asked-questions/">FAQ</a></li>
					<li><a href="#">Payment informations</a></li>
					<li><a href="#">Order tracking</a></li>
				</ul>

				<ul id="col3">
					<li class="header">Company</li>
					<li><a href="/about/">About us</a></li>
					<li><a href="#">Partners</a></li>
					<li><a href="/blog/">Blog</a></li>
					<li><a href="/publishing-services/">Services</a></li>
				</ul>

				<ul id="col4">
					<li class="header">Contact</li>
					<li><a href="#">Support</a></li>
					<li><a href="/contact-us/">Contact</a></li>
				</ul>

				<div id="col5">
					<ul>
						<li class="header">Our Location</li>
						<li>1234 Elm Street</li>
						<li>Hometown, VA 22104</li>
					</ul>

					<div id="payments">
						<h1>Accepting</h1>

						<img src="{{ STATIC_URL }}img/payment_visa.png" alt="visa" />
						<img src="{{ STATIC_URL }}img/payment_mastercard.png" alt="mastercard" />
						<img src="{{ STATIC_URL }}img/payment_amex.png" alt="amex" />
						<img src="{{ STATIC_URL }}img/payment_discover.png" alt="discover" class="last" />
					</div>
				</div>
			</div>

			<div id="copyright">
				© 2012 Copyright IndyPublish All rights reserved.
			</div>

		</div>
	</footer>

	{% include "includes/footer_scripts.html" %}
    <script src="{{ STATIC_URL }}js/craftyslide.js"></script>
    <script src="{{ STATIC_URL }}js/general.js"></script>

</body>
</html>
